body{
  padding-top: 70px;
}
.jumbotron{
  color: #32404e;
  background: #bfd4da;
}

.nav-link{
  color:whitesmoke;
}
.navbar-brand {
  color: white;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 30px;
}